body, html {
	font-family: "Jost", sans-serif;
	cursor: default;
	margin: 0;
	background-color: #fff;
	height: 100%;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-moz-selection {
	background-color: rgba(177, 236, 251, .5);
}

::selection {
	background-color: rgba(177, 236, 251, .5);
}

a {
	text-decoration: none;
	color: #000;
}

img {
	width: 500px;
	height: auto;
	border: .25px solid lightgray;
	margin: 5px;
	padding: 10px;
}

img:hover {
	box-shadow: 30px 30px 60px rgba(94, 94, 94, .5);
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	transition: 1s ease;
}

nav {
	float: right;
}

nav li {
    display: inline-block;
}

nav a:hover, nav a:focus {
	color: skyblue;
}

/* Skip to Main Function*/
.skip a {
    position: absolute;
    z-index: 1;
    top: -40px;
}

.skip a:focus {
    top: 0;
}
/*index*/
/*
.homeimg {
	max-width: 100%;
	height: auto;
	box-shadow: 30px 30px 60px rgba(94, 94, 94, .5);
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	transition: 1s ease;
}*/
