body, html {
	font-family: "Jost", sans-serif;
	cursor: default;
	margin: 0;
	height: 100%;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background-color: #FFFCF8;
	display: grid;
}

::-moz-selection {
	background-color: rgba(177, 236, 251, .5);
}

::selection {
	background-color: rgba(177, 236, 251, .5);
}

a {
	text-decoration: none;
	color: #000;
}

strong {
	font-weight: bold;
}

/* #name:hover, #name:focus, #nav-mob ul a:hover, #nav-mob ul a:focus, #full-nav li a:hover, #full-nav li a:focus {
	color: #AB5F65;
} */

nav a {
	color: #7B6B6D;
}

#name:hover, #name:focus, nav a:hover, nav a:focus, #nav-mob ul a:hover, #nav-mob ul a:focus {
	color: #AB5F65;
}

#name {
	top: 20px;
	left: 20px;
	position: fixed;
	text-transform: lowercase;
	color: #7B6B6D;
	font-size: 25px;
	font-family: 'Bodoni Moda', serif;
	z-index: 1;
}

#full-nav {
	display: none;
}

#nav-mob ul {
	list-style: none;
	margin: 0;
	padding: 100px 0;
	font-size: 20px;
	color: #232323;
	line-height: 45px;
	text-align: center;
	/*! margin-left: 40px; */
	background-color: rgba(209, 179, 171, 0.85);
	backdrop-filter: blur(2px);
	top: 0;
}

#nav-mob ul a {
	font-family: 'Bodoni Moda', serif;
	font-size: 20px;
	color: #524747;
	text-transform: lowercase;
}

#hammenu {
	/*display: none;*/
	width: 0;
	height: 100vh;
	right: 0;
	position: fixed;
	transition: 0.5s;
}


#about-mob {
	line-height: 90px;
	/*! margin-top: 100px; */
}

#nav-mob ul {
	font-size: 16px;
}

a.active {
	color: #3998CA;
}

footer {
	font-size: 12px;
	text-align: center;
	/*! z-index: 1; */
	padding-bottom: 60px;
}

p {
	font-size: 16px;
	line-height: 20px;
}

/* Skip to Main Function*/
.skip a {
    position: absolute;
    z-index: 1;
    top: -40px;
}

.skip a:focus {
    top: 0;
} 

/*
main {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}*/

main section {
	box-sizing: border-box;
	width: 100%;
	padding: 5%;
}

/*index*/
#main-home img {
	width: 90%;
	height: auto;
	/*! border: .25px solid lightgray; */
	margin: 10px auto;
	display: block;
	/*! padding: 10px; */
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	transition: 1s ease;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#main-home img:hover {
	box-shadow: 30px 30px 60px rgba(94, 94, 94, .5);
}

#ds {
	margin-top: 15%;
}

main h1 {
	color: #AB5F65;
	font-size: 20px;
	font-family: 'Bodoni Moda', serif;
}

/*design system*/
#main {
	display: flex;
	flex-flow: column wrap;
	/*! justify-content: space-around; */
	padding: 5%;
}

#main img {
  box-sizing: border-box;
	width: 100%;
	/*! padding-top: 2.5%; */
	padding-bottom: 6%;
}

#main h1:first-of-type {
	margin-top: 18%;
}

#main h2 {
	text-transform: uppercase;
	padding-top: 20px;
}

#main p {
	font-weight: 300;
	padding-top: 10px;
}

#main li {
	line-height: 18px;
	font-weight: 300;
}

#main li span {
	font-style: italic;
}

#about {
	background-image:  url("../img/bg.png");
}

form {
	font-weight: 300;
	padding: 5% 0;
}

form input, form textarea {
	border: none;
	border-bottom: 2px solid #AB5F65;
	width: 60%;
	padding:10px;
	margin-top: 5px;
	background: none;
  }

@media screen and (prefers-reduced-motion: reduce){
  #main-home img {
    animation: none;
  }
}

@media all and (min-width: 768px){
	body {
		grid-template-columns: 10% 1fr 10%;
		grid-template-rows: 0 1fr 1%;
	}
	main {
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
	}

	footer {
		grid-column: 2 / span 1;
		grid-row: 3 / span 1;
		align-self: end;
	}

	#main h1:first-of-type {
		margin-top: 10%;
	}

	#aboutme {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 1fr 1fr 1.2fr;
		column-gap: 50px;
	}

	#about {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
	}

	#aboutme img {
		grid-column: 1 / span 1;
		grid-row: 1 / span 2;
		padding: 0;
		align-self: center;
	}

	#aboutme form {
		grid-column: 1 / span 2;
		justify-self: center;
	}
}

@media all and (min-width: 992px){
	/* body {
		grid-template-columns: 10% 1fr 10%;
		grid-template-rows: 0 1fr 1%;
	} */
	
	header {
		grid-row: 1 / span 1;
	}

	#nav-mob {
		display: none;
	}
	
	#full-nav {
		display: block;
	}
	
	#full-nav li {
		display: inline-block;
		margin-right: 20px;
	}
	
	#full-nav li a {
		font-family: 'Bodoni Moda', serif;
		font-size: 20px;
  		/*color: #524747;*/
		text-transform: lowercase;
	}
	
	#full-nav li:first-of-type {
   		position: fixed;
		right: 20px;
		/*top: 20px;*/
		padding-top: 20px;
		background-color: #FFFCF8;
		width:100vw;
		height: 40px;
		text-align: right;
	}
	
	#full-nav li:nth-of-type(2) {
    	position: fixed;
		left: 20px;
		bottom: 0;
		background-color: #FFFCF8;
		width:100vw;
		height: 40px;
		padding-top: 10px; 
	}
	
	#full-nav li:last-of-type {
    	position: fixed;
		right: 20px;
		bottom: 20px;
	}

	/* main {
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
	}

	footer {
		grid-column: 2 / span 1;
		grid-row: 3 / span 1;
		align-self: end;
	} */

	main section {
		padding-top: 10%;
	}

	#main-home section a {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 1fr 1fr;
		column-gap: 10px;
	}
	
	#main-home section a h1 {
		grid-column: 1 / span 1;
		font-size: 40px;
		justify-self: center;
		align-self: center;
	}

	#main-home section a img {
		grid-column: 2 / span 1;
		grid-row: 1 / span 2;
	}

	#ds {
		margin-top: 0;
	}

	#main {
 		/*padding-left: 12%;
		padding-right: 12%; */
		/* width: 70%;
		margin: auto; */
		padding-bottom: 0%;
	}
	
	#main-home img {
		width: 100%;
		align-self: center;
	}
	
	#main h1:first-of-type {
		margin-top: 30px;
		font-size: 40px;
 	}

	/* #aboutme {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr 1fr 2fr;
		column-gap: 50px;
	}

	#about {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
	}

	#aboutme img {
		grid-column: 1 / span 1;
		grid-row: 1 / span 3;
	} */

	main>div>section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		/*! grid-template-rows: 1fr 1fr 2fr; */
		column-gap: 50px;
		padding: 2% 0 5% 0;
	}

	.active {
		color: #AB5F65 !important;
		text-decoration-line: underline;
		text-decoration-style: double;
	}

}
/*
.homeimg {
	max-width: 100%;
	height: auto;
	box-shadow: 30px 30px 60px rgba(94, 94, 94, .5);
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	transition: 1s ease;
}*/

/* a {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
	text-decoration: underline;
}

a:active {
  border: 1px solid black;
}  */